<li><a href="{{ site.code-type }}" class="otherLinkColour">Supported Code Types</a>
    <ul>
        <li><a href="{{ site.code-type }}na-dl.html" class="otherLinkColour">North American Driver License</a></li>
        <li><a href="{{ site.code-type }}sa-dl.html" class="otherLinkColour">South African Driver License</a></li>
        <li><a href="{{ site.code-type }}vds-nc.html" class="otherLinkColour">ICAO VDS-NC Digital Vaccination Certificate</a></li>
        <li><a href="{{ site.code-type }}aadhaar.html" class="otherLinkColour">Aadhaar card</a></li>
        <li><a href="{{ site.code-type }}mrz.html" class="otherLinkColour">MRZ</a></li>
        <li><a href="{{ site.code-type }}vin.html" class="otherLinkColour">VIN</a></li>
    </ul>
</li>